@import 'normalize';

body {
	background:
	radial-gradient(black 15%, transparent 16%) 0 0,
	radial-gradient(black 15%, transparent 16%) 8px 8px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background-color:#282828;
	background-size:16px 16px;
}

.container {
	background-color: #060607;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 70%;
	height: 100%;
	margin: 0 auto;
	position:relative;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.container:before, .container:after {
	content:"";
    position:absolute;
    z-index:-1;
    box-shadow:0 0 150px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    border-radius:100px / 10px;
}

.container:after {
    right:10px;
    left:auto;
    transform:skew(8deg) rotate(3deg);
}

// logo

.logoBox {
	display: flex;
}

.logo {
	// max-width: 100%; // 48.4666%
  // height: auto; // 51.5333%
	padding-bottom: 10;
}

//social icons

.iconsBox {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 20%;
}

.square {
	width: 100px;
	height: 75px;
	background: #1C242D;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: -2px 3px 0px 0px rgba(0,235,255,1);
	margin: 5px;
}

.row1 > a {
	text-decoration: none;
	color: #2B4C59;
	transition: transform .0125s;

	&:hover {
		transform: scale(1.05);
		color: #F79704;
	}
	&:active {
		transform: scale(.95);
	}
}

.row2 > a {
	text-decoration: none;
	color: #2B4C59;
	transition: transform .0125s;

	&:hover {
		transform: scale(1.05);
		color: #F79704;
	}
	&:active {
		transform: scale(.95);
	}
}

.fa {
	text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

//subscribe form

.subscribeBox {
	display: flex;
	justify-content: center;
	padding-top: 10%;
}

input[type=text] {
    background-color: rgba(0,0,0,0.1);
    border:solid 2px #BFBDBD;
    color: #979797;
    height: 32px;
    padding-left:10px;
    width: 245px;
		border-radius: 25px 0px 0px 25px;
}

input[type=submit] {
    background-color: #1C242D;
    color: rgba(0,235,255,1);
    height: 33px;
    width: 120px;
    text-transform:uppercase;
		border-radius: 0px 25px 25px 0px;
		transition: transform .0125s;

		&:hover {
			transform: scale(1.03);

		}
		&:active {
			transform: scale(.97);
			color: #F79704;
		}
}

// responsive

@media (max-width: 920px) {
	.logo {
		width: 364px; // 48.4666%
		height: 386px; // 51.5333%
		padding-bottom: 10;
	}
}

@media (max-width: 580px) {
	.logo {
		width: 242px; // 48.4666%
		height: 258px; // 51.5333%
		padding-bottom: 10;

	}

	input[type=text] {
		display: block;
		border-radius: 25px;
	}

	input[type=submit] {
		display: block;
		margin: 0 auto;
		margin-top: 10px;
		border-radius: 25px;
	}
}

@media (min-width: 920px) {
	.row1 {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.row2 {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
